// Colors
$grey : #333333;
$white : #ffffff;

// Navigation Colors
$nav-background : $grey;
$nav-text-color : $white;

// Clock
$clock-text-color : #A01D26;
$clock-bg-color : #ACBEBE;
$clock-border-color : #20232A;
